<app-navbar></app-navbar>
<div class="container-fluid bg-cont">
  <div class="row d-flex justify-content-evenly align-items-center py-3">

    <ng-container *ngIf="equipo.length == 0 "class="row ms-3">
      <h4 class="text-white my-3">No tiene ningun heroe en su equipo</h4>
      <h5 class="text-white">Para buscar y agregar nuevos heroes
        <a [routerLink]="['/buscar']"> pulse aqui</a>
      </h5>
    </ng-container>

    <!-- equipo -->
    <div class="col-9 col-md-6 col-lg-5 order-2 order-md-1">
      <h5 class="text-white mt-2">Integrantes del equipo</h5>
      <div class="row">
        <div *ngFor="let equipo of equipo$ | async" class="col-12 rounded bg-card my-2 py-2 mx-md-1">
          <div class="row d-flex justify-content-around">
            <div class="col-11 col-md-4 img-heroe text-center my-md-auto mb-2 mb-md-auto px-1 py-2">
              <img src="{{equipo.image.url}}" class="img-fluid border border-secondary rounded"
              alt="">
            </div>
            <div class="col-11 col-md-7 d-flex align-items-center px-4 px-md-3">
              <div class="row d-flex justify-content-center">
                <div class="col d-flex mb-2">
                  <h5 class="fw-bold my-auto flex-grow-1">{{equipo.name}}</h5>
                  <button (click)="id = equipo.id" class="btn btn-outline-danger py-1"
                  data-bs-toggle="modal" data-bs-target="#borrarAlert">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <div class="row bg-light border border-secondary rounded p-1 p-xl-2 mb-2">
                  <p class="col-6 my-1 p-0">Combate: {{equipo.powerstats.combat}}</p>
                  <p class="col-6 my-1 p-0">Resistencia: {{equipo.powerstats.durability}}</p>
                  <p class="col-6 mb-1 p-0">Poder: {{equipo.powerstats.power}}</p>
                  <p class="col-6 mb-1 p-0">Inteligencia: {{equipo.powerstats.intelligence}}</p>
                  <p class="col-6 mb-1 p-0">Fuerza: {{equipo.powerstats.strength}}</p>
                  <p class="col-6 mb-1 p-0">Velocidad: {{equipo.powerstats.speed}}</p>
                  <p class="col my-0 p-0">Afiliacion: {{equipo.biography.alignment}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" tabindex="-1"  aria-hidden="true" id="borrarAlert">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">¿Esta seguro de quitar este persona de su equipo?</h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                    Cancelar</button>
                  <button (click)="eliminar(id)" class="btn btn-danger" type="button"
                  data-bs-dismiss="modal">Borrar</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- estadisticas -->
    <div class="col-11 col-md-5 col-xl-4 order-1 order-md-2 mb-2">
      <h5 class="text-white ms-2 mb-3">Estado del equipo</h5>
      <ng-container *ngIf="equipo.length > 1">
        <div *ngFor="let estadisticas of total" class="bg-card rounded px-3 py-2 px-xl-4 py-xl-3">
          <div class="row d-flex justify-content-center mb-3">
            <h6 class="fw-bold mb-1">Equipo: {{valor}}</h6>
            <div class="col-6 d-flex align-items-center p-1">
              <div class="row">
                <p class="my-1">Peso promedio: {{estadisticas.weight | number: '1.2-2'}}Kg</p>
                <p class="my-1">Altura promedio: {{estadisticas.height | number: '1.2-2'}}M</p>
                <p class="my-1">Integrantes: {{equipo.length}}/6</p>
              </div>
            </div>
            <div class="col-5 my-auto img-pic">
              <img class="img-fluid rounded bg-light" src="../../../assets/img/{{valor}}.png" alt="">
            </div>
          </div>
          <span class="fw-bold">Estadisticas</span>
          <div class="row d-flex justify-content-around text-center">
            <p class="col-5 border border-secondary rounded shadow-sm p-1 my-1">
              Combate: {{estadisticas.combat}}</p>
            <p class="col-5 border border-secondary rounded shadow-sm p-1 my-1">
              Resistencia: {{estadisticas.durability}}</p>
            <p class="col-5 border border-secondary rounded shadow-sm p-1 mb-1">
              Poder: {{estadisticas.power}}</p>
            <p class="col-5 border border-secondary rounded shadow-sm p-1 mb-1">
              Inteligencia: {{estadisticas.intelligence}}</p>
            <p class="col-5 border border-secondary rounded shadow-sm p-1 mb-1">
              Fuerza: {{estadisticas.strength}}</p>
            <p class="col-5 border border-secondary rounded shadow-sm p-1 mb-1">
              Velocidad: {{estadisticas.speed}}</p>
          </div>
        </div>
      </ng-container>

    </div>

  </div>
</div>
<app-footer></app-footer>
