*{
    font-family: 'Times New Roman', Times, serif;
}
.fw-bold {
    color: rgb(155, 99, 14);
}
.fs {
    font-size: 18px;
}
.bg-cont {
    background-color: #212529;
}
.bg-card {
    background-color: #d3d7ff;
}
.image {
    height: max-content;
}
.cards {
    height: 620px;
}

.cards::-webkit-scrollbar {
    -webkit-appearance: none;
}
.cards::-webkit-scrollbar:vertical {
    width: 10px;
}
.cards::-webkit-scrollbar:horizontal {
    width: 12px;
}
.cards::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}
.cards::-webkit-scrollbar-track {
    border-radius: 10px;
}
.cards::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: solid #9a9a9b 2px;
}
.cards::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}

@media (width > 1700px){
    .fs {
        font-size: 26px;
    }
    .cards {
        height: 860px;
    }
    .image {
        width: 270px;
    }
}

@media (max-width: 1024px){
    .fs {
        font-size: 16px;
    }
}

@media (max-width: 768px){
    .fs {
        font-size: 17px;
    }
    .cards {
        height: max-content;
    }
}

@media (width < 576px){
    .fs {
        font-size: 14px;
    }
}