.bg-cont {
    background-color: #212529;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
}
.bg-div {
 background-color: #00314c;
}
.uno {
    border: crimson solid;
}
.dos {
    border: darkcyan solid;
}

@media (max-width: 992px){
    p {
        font-size: 16px;
    }
}

@media (max-width: 769px){
    p {
        font-size: 15px;
    }
}

@media (max-width: 576px){
    p {
        font-size: 14px;
    }
}