.contenedor {
  width: 85%;
  height: auto;
}

.bg-cont {
    background-color: #212529;
}
.bg-div {
  background-color: #00314c;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
}

@media (width > 1440px){
  p {
      font-size: 1.1em;
  }
  img {
    width: auto;
    height: 340px;
  }
  .contenedor {
    width: 1400px;
    height: auto;
  }

}

@media (max-width: 1440px){
  p {
      font-size: 1.1em;
  }
  img {
    width: 75%;
    height: auto;
  }
}

@media (max-width: 1024px){
    p {
        font-size: 1.1em;
    }
    img {
      width: 100%;
      height: auto;
    }
}

@media (max-width: 768px){
    p {
        font-size: 1em;
    }
    img {
      width: 68%;
      height: auto;
    }
}

@media (width < 425px){
    p {
        font-size: 0.9em;
    }
    img {
      width: 100%;
      height: auto;
    }
}
