.fs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
}
.bg-card {
    background-color: #d3d4ff
}
.bg-cont {
    background-color: #212529;
}
.card-b {
    height: 180px;
}
.w-table {
    height: 460px;
}
.border-villain {
    border: rgba(220, 20, 60, 0.671) solid 2px;
    border-radius: 10px;
}
.border-heroe{
    border: rgba(0, 128, 0, 0.856) solid 2px;
    border-radius: 10px;
}

.w-table::-webkit-scrollbar {
    -webkit-appearance: none;
}
.w-table::-webkit-scrollbar:vertical {
    width: 10px;
}
.w-table::-webkit-scrollbar:horizontal {
    width: 12px;
}
.w-table::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
}
.w-table::-webkit-scrollbar-track {
    border-radius: 10px;
}
.w-table::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: solid #9a9a9b 2px;
}
.w-table::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
}


@media (width > 1400px){
    .fs {
        font-size: 20px;
    }
    .w-table {
        height: 700px;
    }
}

@media (max-width: 767px){
    .fs {
        font-size: 16px;
    }
    .w-table {
        min-height: 80vh;
        height: max-content;
    }
    #equipo {
        display: none;
    }
}

@media (max-width: 576px){
    .fs {
        font-size: 13px;
    }
    #equipo {
        display: none;
    }
}