<div class="container-fluid bg-footer border-top border-light py-4 text-white">
    <div class="row mb-3 d-flex justify-content-around">
        <div class="col-4 text-center">
            <a class="text-reset text-decoration-none" href="https://www.alkemy.org/">
                <img src="https://www.alkemy.org/logo512.png" alt="">
                <h6 class="pt-1">Alkemy</h6>
            </a>
        </div>
        <div class="col-4 text-center">
            <a class="text-reset text-decoration-none" href="https://github.com/Miguel-Guillen/Challenge-Angular-Alkemy">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
                <h6 class="pt-1">Github</h6>
            </a>
        </div>
    </div>
    <div class="row my-1 text-center">
        <h5 >Challenge Angular Frontend Superheroes API</h5>
    </div>
</div>